<h1>Timeline</h1>
<div id="timeline" ng-show="json.Status == true">
  <div class="timeline-record" ng-repeat="record in json.Records" ng-class="{true:'owner', false:''}[record.user == json.curUser]">
      <p class="title">
          <img ng-src="{{users.data.users[record.User].avatar}}" class="profile-pic" />{{record.User.Id}}
          <br />
          <span class="record-meta">{{record.Time * 1000 | date : 'd MMM, y HH:mm:ss'}}</span>
      </p>
     <p>{{record.Content}}</p>
  </div>
  
</div><textarea placeholder="Add record to the timeline" class="add-msg" ng-enter="addRecord()" ng-model="newRecord"></textarea>